@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Critical Brain.</h1>
<div class="container">
    <h2>03-01-2017:</h2>
    <h3>Added User Autorization</h3>
    <ul>
        <li>
            Please speak with the system admin to get a user account if you do not already have one. 
        </li>
    </ul>
</div>