@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2> Production Totals</h2>
    <p>
        things

    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity To Ship</th>
                <th>Quantity in Shipping</th>
                <th>Quantity Needed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>

            </tr>
        </tbody>


    </table>

</div>
