@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2> Production Totals</h2>
    <p>
        things

    </p>

</div>


<h1>Welcome to the Critical Brain.</h1>
<h2>Lets do some work!</h2>